HSK_RPC_URL=https://testnet.hsk.xyz
HSK_CHAIN_ID=133
DEPLOYER_PRIVATE_KEY=
REQUESTER_PRIVATE_KEY=
WORKER_PRIVATE_KEY=
MOCK_USDC_ADDRESS=
CREDIT_REGISTRY_ADDRESS=
LABOR_MARKET_ADDRESS=
GITHUB_TOKEN=
GITHUB_REPO=owner/name
